<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-info" >
      
                    <div class="card-icon">
                       <!-- <i class="material-icons">list</i> -->
                       <span class="material-icons">
                        assignment
                        </span>
                    </div>
                    <h3 class="card-title">Contact  
                    <h5 class="card-category " style="color: white;"> Feel free to write </h5>
                    </h3>
                  <div class="row">
                    <div class="col-md-3 offset-md-3"></div>
                    
                  </div>
                </div>
                 
                  <div class="card-body">
                    <!-- <form >
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Contact us :</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="contact" name="contact" rows="6"></textarea>
                      </div>
                      
                      <button type="button" class="btn btn-success" (click)="sendContact()" style="margin-top: 8px; margin-right: 8px;"> send </button>
                    </form>  -->

                    <div class="container">
        
                      <div class="row">
                  
                  
                          <div class="message-wrap col-lg-8">
                              <div class="msg-wrap">
                  
                  
                                  <div class="media msg " *ngFor="let reply of replys">
                                      
                                      <div class="media-body">
                                          
                                          <h5 class="media-heading">Admin</h5>
                                          <small class="col-lg-10">{{reply.reply}}</small>
                                      </div>
                                  </div>
                                  
                               
                              </div>
                  
                              <div class="send-wrap ">
                  
                                  <textarea class="form-control send-message" rows="3" [(ngModel)]="contact" name="contact" placeholder="Write to us ..."></textarea>
                  
                  
                              </div>
                              <div class="btn-panel">
                                 
                                  <a  class=" col-lg-4 text-right btn   send-message-btn pull-right" role="button" (click)="sendContact()"><i class="fa fa-plus"></i> Send Message</a>
                                 
                                </div>
                          </div>
                          
                      </div>
                  </div>  
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
