
table {
    width: 100%;
  }


.ajoute{
  width:100px;

  
}
  .example-button-row button,
  .example-button-row a {
    margin-right: 12px;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .example-card {
    max-width: 350px;
    margin-left: 30%;
  }
 