<div id="login-container">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <img
          src="https://webstockreview.net/images/clipart-cars-doctor-15.gif"
          id="icon"
          alt="User Icon"
        />
      </div>

      <!-- Register Form -->
      <form (ngSubmit)="signup(signUpForm.value)" [formGroup]="signUpForm">
        <p>Signup with Email and Password.</p>  
        <label for="email">Email:</label><br>
        <input type="email" name="email" formControlName="email">
      
        <label for="password">Password:</label>
        <input type="password" name="password" formControlName="password">
      
        <input type="submit" [disabled]="!signUpForm.valid" value="Sign Up">
      </form> 

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a
          routerLinkActive="active"
          class="underlineHover"
          [routerLink]="['/login']"
          >Login </a
        >
      </div>
    </div>
  </div>
</div>
