<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-info" >
      
                    <div class="card-icon">
                       <!-- <i class="material-icons">list</i> -->
                       <span class="material-icons">
                        directions_car
                        </span>
                    </div>
                    <h3 class="card-title">Add a new car  
                    <h5 class="card-category " style="color: white;"> Please do not submit before you make sure of the writen data validity </h5>
                    </h3>
                  <div class="row">
                    <div class="col-md-3 offset-md-3"></div>
                    
                  </div>
                </div>
                 
                  <div class="card-body">
                    <form >
       
                      <div class="row" style="margin-left: 24px;">
                        <div class="col-md-5">
                          <label for="type_Car">Type Car :</label>
                          <input [(ngModel)]="type_Car" name="type_Car" id="type_Car" placeholder="polo7" class="form-control"  required>
                        </div>
                        <div class="col-md-5">
                          <label for="nb_L">License palte number:</label>
                          <input [(ngModel)]="nb_L" name="nb_L" id="nb_L" class="form-control" placeholder="xxx-xxxx"  required>
                         </div>
                      </div>
                      <button type="button" class="btn btn-success" (click)="addCar()" style="margin-top: 8px; margin-right: 8px;"> Add car </button>
                    </form> 
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
